@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rock+Salt&display=swap");

:root {
  --primary-color: #064789;
  --secondary-color: #bce7fd;
  --accent1-color: #967d69;
  --accent2-color: #d66853;

  --heading-font: "Madimi One", sans-serif;
  --paragraph-font: "Verdana", serif;

  --nav-background-color: #fff;
  --nav-link-color: #760fbe;
  --nav-hover-link-color: #87ceeb;
  --nav-hover-background-color: #800080;
}

* {
  margin: 0;
  padding: 0;
  max-width: 960px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  max-width: 840px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7fr;
  padding: 20px;
  background-color: var(--secondary-color);
}

header img {
  margin: 0 0.5rem;
  width: 100px;
  height: auto;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  border: dotted 4px black;
  background-color: var(--nav-background-color);
}

header nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  border-right: dotted 4px var(--accent1-color);
  padding-right: 40px;
}

header nav a:last-of-type {
  border-right: none;
}

p {
  padding: 25px;
}

ul {
  padding-left: 1.5rem;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

figure {
  display: grid;
  align-self: baseline;
  max-width: 120px;
  /* max-height: 142px; */
}

figcaption {
  background-color: var(--secondary-color);
  /* color: var(--accent2-color); */
  font: var(--paragraph-font);
  padding: 2px;
  text-align: center;
}

button {
  margin: 0.3rem;
  background-color: var(--primary-color);
  color: rgb(255, 196, 0);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: green;
}

form {
  width: 620px;
  margin: 0 auto;
  padding: 0.9rem;
  margin-bottom: 20px;
  border: 1px dashed var(--accent1-color);
  border-radius: 0.5rem;
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: 0.2rem;
  margin: 0.3rem;
  padding: 0.4rem;
  border: 1px solid rgba(89, 1, 124, 0.2);
}

fieldset p {
  color: rgba(0, 0, 0, 0.8);
}

label,
input,
button,
textarea {
  font-family: var(--paragraph-font);
  font-size: 0.9rem;
}

label {
  text-align: right;
  padding-right: 5px;
}

input,
textarea {
  padding: 0.2rem;
  font-size: 0.8rem;
}
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: var(--accent1-color);
  text-align: center;
  padding: 20px;
}

/* Class And ID Selectors */

div.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 10px;
  left: 400px;
  word-spacing: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.hero article {
  display: flex;
  position: absolute;
  top: 60px;
  right: 25px;
  left: 25px;
  background-color: rgba(35, 211, 235, 0.6);
}

.hero article img {
  float: right;
  width: auto;
  height: 10rem;
}

#history {
  padding-top: 25px;
  margin: 5px;
}

#history h2 {
  text-align: center;
}

#history p:last-of-type {
  padding-top: 0;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#adventure {
  display: grid;
  align-items: center;
  border: thin var(--accent1-color) solid;
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: var(--secondary-color);
}

#adventure h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: 1/6;
  text-align: center;
}

#adventure img {
  width: 150px;
  max-height: 120px;
}

.sociallinks {
  justify-self: last baseline;
  background-color: inherit;
  color: var(--nav-link-color);
}

/* Contact Page */

div.contact {
  position: relative;
  padding-bottom: 160px;
  background-color: var(--accent2-color);
  text-align: center;
}

.contact h1{
  position: inherit;
  top: 40px;
  max-width: 800px;
  color: black;
  background-color: inherit;
}

.contact article{
  position: inherit;
  top: 60px;
  background-color: inherit;
}

#sales {
  position: absolute;
  top: 320px;
  left: 140px ;
  padding: 0 5px 0 5px;
  max-width: 286px;
  max-height: 185px;
  background-color: #ffff;
  text-align: center;
  border: var(--secondary-color) solid 1px;
}

#sales p {
  padding-bottom: 23px;
}

#support {
  position: absolute;
  top: 320px;
  left: 486px;
  padding: 0 5px 10px 5px;
  max-width: 286px;
  max-height: 185px;
  background-color: #ffff;
  text-align: center;
  border: var(--secondary-color) solid 1px;
}

#support button {
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: rgb(255, 196, 0);
}

#hq {
  display: grid;
  position: relative;
  padding-top: 160px;
  max-width: 840px;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

#hq h1{
  grid-row: 1/2;
}

#hq h3 {
  grid-column: 1;
}

#hq article {
  grid-column: 1;
}

.map  {
  grid-column: 2;
  grid-row: 1/4
}

#employees {
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  justify-items:start;
  border-top: var(--accent2-color) dotted 2px;
  margin: 40px;
  margin-bottom: 320px;
}

#employees img{
  max-width: 450px;
  max-height: 400px;
}

.form {
  display: grid;
}

/* Trips Page */

.trip img {
  width: 100%;
  height: 500px;
}

.trip h1 {
  width: 350px;
  top: 80px;
  left: 30px;
  background: none;
  font-weight: bold;
  word-spacing: 12px;
  text-align: left;
  text-decoration: underline;
  color: var(--primary-color);
}

.trip p {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 149px;
  height: 89px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #FF3823;
}

.trip button {
  position: absolute;
  top: 280px;
  left: 50px;
  width: 95px;
  height: 49px;
  padding: 0px 10px 0px 10px;
  background: #FF3823;
  border: var(--secondary-color) 1px solid;
  border-radius: 10px 10px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.trip button:hover, .grid button:hover {
  background-color: yellow;
}

.trips  {
  display: grid;
  grid-gap: 2px ;
  background-color: var(--accent2-color);
  margin: 15px 0 15px 0;
  width: 530px;
}

.trips h2 {
  grid-row: 1/2 ;
  text-decoration: underline;
  text-align: left;
  padding: 10px 0px 20px 10px;
}

.trips p {
  padding: 10px;
  font-style: italic;
}

.trips h3 {
  padding-left: 15px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.trips img {
  float: left;
  width: 30em;
  height: 237px;
  padding: 0px 5px 25px 25px;
  border-radius: 20px 20px 20px 20px;
}

.trip1 {
  grid-row: 2/3; 
}

.trip2 {
  grid-row: 3/4; 
}

.grid {
  position: absolute;
  top: 620px;
  left: 540px;
  padding-bottom: 40px;
  background-color: var(--secondary-color);
  border: #C0C0C0 solid 1px;

}

.grid table{
  width: 400px;
  height: 332px;
  color: #FF3823;
}

td {
  border: var(--secondary-color) solid 2px;
  padding-left: 5px;
}

.grid table tr:first-of-type {
  background-color: var(--primary-color);
}

.grid button {
  position: relative;
  top: 30px;
  left: 8rem;
  width: 147px;
  height: 34px;
  padding: 0px 10px 0px 10px;
  background: #FF3823;
  border: var(--secondary-color) solid 1px;
  border-radius: 10px 10px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/* Home */

.home img {
  width: 100%;
}

.home p{
  position: absolute;
  top: 90px;
  left: 40rem;
  width: 240px;
  color: black;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

.fancy {
  position: relative;
  width: 450px;
  height: 486px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background: #E692F8;
  border-color: #FF3823;
  border-width: 1px;
  border-style: solid;
}

.fancy form {
  position: absolute;
  top: 10px;
  left: 5px;
  max-width: 250px;
  border: var(--secondary-color) 1px dotted;
}

.fancy form label:last-of-type {
  text-align: right;
  padding: 15px 0 5px 0;

}

.fancy form input:last-of-type {
  position: relative;
  top: -20px;
  left: -4.3rem;
}

.call {
  position: absolute;
  top: 740px;
  left: 100px;
}

.call img {
  position: absolute;
  top: 50px;
  width: 830px;
  height: 306px;
  background: #EDF0F4;
  border-radius: 20px 20px 20px 20px;
}

.call article {
  position: absolute;
  top: 360px;
  left: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  padding-bottom: 150px;
}

.call article p {
  width: 890px;
  padding-bottom: 20px;
}
.call a {
  color:rgb(255, 196, 0);
  text-decoration: none;
  text-align: center;
}

.call button {
  position: relative;
  left: 13rem;
}

.solicit {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 15px;
}


.solicit img {
  width: 404px;
  height: 245px;
  border-radius: 20px 20px 0 0;
  padding-top: 15px;
}

.triangle {
  transform: rotate(180deg);
  width: 100%;
  height: 910px;
  margin-bottom: 15px;
}

.lone {
  position: absolute;
  top: 1505px;
  width: 100%;
  grid-column: 1/3;
  align-items: center;
  justify-items: center;
  padding-left: 60px;
}

.triangled {
  /* width: 100%; */
  position: absolute;
  top: 1795px;
  padding-left: 40px;
}

.triangled article {
  width: 400px;
  height: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

.triangled h3 {
  text-align: center;
  padding-top: 15px;
}

.triangled figure {
  padding-bottom: 15px;
}